/* 所有顶部 固定的部分 begin*/
.hr{
    top:0px;
    left:0px;
    height:3px;
    width:100%;
    background-color:#FF4500;
}
.top{
    top:3px;
    /*left:0px;*/
    height:53px;
    /*width:600px;*/
    display: inline-block;
    background-color:red;
    margin-left:  0px;
    padding-left: 0px;
    /*position:fixed;*/
}
/* 最顶部横线 */

/*.top2{!*上边栏*!
    height:53px;
    width:1000px;
    background-color:red;
    !*margin: 0 auto;*!
    !*text-align: center;*!
}*/
.weibo-logo1{
    /*margin-left:118px;*/
    /*left: 50%;*/
   /* float:left;*/
    float:left;
    /*margin-left: 10%;*/
}

/* 顶部搜索框 */
.top_search{
    border:1px solid gray;
    height:34px;
    width:178px;
    /*margin-top:8px;
    margin-left:45px;*/
    float:left;

}

.top_search_input{/* 顶部搜索输入框 */
    border:none;
    height:30px;
    /*float:left;*/
    background-color: aliceblue;
}
/* 顶部搜索框  end*/

/* 顶部导航 begin */
/*.top_a_href{
    float:left;
    height:50px;
    margin-top:10px;
    margin-left:80px;
}*/
.top_img_shouye{
    float:left;
    margin-left:25px;
}
.top_img_shipin{
    float:left;
    margin-left:25px;
}
.top_img_find{
    float:left;
    margin-left:25px;
}
.top_img_game{
    float:left;
    margin-left:25px;
}
.top_img_username{
    float:left;
    margin-left:25px;
}
.top_img_shuxian{
    float:left;
    margin-left:25px;
    background-color: #FF4500;
}
.top_img_message{
    float:left;
    margin-left:25px;
    /*background-color: #FF4500;*/
}
.top_img_shezhi{
    float:left;
    margin-left:25px;
}
/*消息和设置的下拉菜单*/
ul > li:hover ul {
    left: 0;
}
li ul {
    position: absolute;
    left: -9999em;
    top: 36px;
    z-index: 1;
}
li ul a:hover {
    background: rgba(0, 0, 0, 0.2);
}
li{
    list-style-type:none;
}
ul > li {
    float: right;
    position: relative;

}
ul,li{padding:0;margin:0;}

.top_img_message a{
    padding: 10px 20px;
}
.top_img_shezhi a{
    padding: 10px 20px;
}
.xlk{
    background-color: white;
    border:gray solid;
    width: 100px;
}

/* 顶部导航 end */

/* 所有顶部 固定的部分 end*/